body{
    background-color: #ffe9ad
}
h1{
    font-size: 60px;
    color: white;
    padding: 12px;
    text-align: center;
}
.title{
    background-color: rgb(21, 110, 151);
    height: 100px;
    width: 650px;
    border: solid;
    border-color: rgb(236, 202, 88);
    border-width: 10px;
    float: center;
    margin: 5px;
    
}
.instructions{
    background-color: #ffb42a;
    height: 400px;
    width: 600px;
    margin: 5px;
    border: solid;
    border-color: #c8e0f7;
    
}
.instructionText{
    font-size: 25px;
    color: #003169;
    padding: 5px;
}
.score{
    background-color:#00c97c;
    border:solid;
    border-color: #005281;
    height:100px;
    width:175px; 
    float:left;
    margin: 5px;
}
.winsText{
    font-size: 25px;
    color: #003169;
    padding: 2px;
}
.lossesText{
    font-size: 25px;
    color: #003169;
    padding: 2px;
}
.scoreText{
    font-size: 25px;
    color: #003169;
    padding: 2px;
}
.total{
    float:left;
    background-color:#ffc2ff;
    border: solid;
    border-color: #8500a7;
    height:100px;
    width:200px;
    font-size:50px;
    margin: 5px;
}
.targetScore{
    background-color: #aeecf7;
    height:100px;
    width:200px;
    font-size:50px;
    border: solid;
    border-color: #0097bd;
    float:left;
    margin: 5px;

}
.dance{
    float:right;
    border: solid, #007ac0;
}
.gem{
    float: left;
    max-width:10%;
    height:auto;
}